# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work.sum

# OS - macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# OS - Linux
*~
.fuse_hidden*
.Trash-*
.nfs*
